// Importa tus variables si es necesario
@import '../../variables.scss';

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectSearchCategories {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #00e600;
  border-radius: 10px;
  background-color: transparent;
  color: #00e600;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.inputSearchCategories {
  width: 50%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #00e600;
  border-radius: 10px;
  background-color: transparent;
  color: #00e600;
  cursor: pointer;

  &::placeholder {
    color: #00e600;
  }
}

.buttonSearchCategories {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid#00e600;
  border-radius: 10px;
  background-color: transparent;
  color: #00e600;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
