@import '../../variables.scss';

.formSection {
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 1.5rem;
    font-family: $fonttherd;
    color: rgb(88, 60, 34);
    font-weight: bold;
    margin-bottom: 3rem;

    @media (max-width: 850px) {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    max-width: 391px;
    width: 100%;

    &--para {
      font-size: 0.8rem;
      font-family: $fonttherd;
      color: rgb(88, 60, 34);
      margin-bottom: 0.3rem;
    }

    &--input {
      margin-bottom: 1.8rem;
      text-decoration: none;
      border: none;
      padding: 1rem;

      @media (max-width: 850px) {
        margin-bottom: 1.4rem;
      }
    }

    &--signup {
      font-size: 0.8rem;
      font-family: $fonttherd;
      color: rgb(88, 60, 34);
      align-self: center;

      &---nav {
        text-decoration: none;
        font-size: 0.8rem;
        font-family: $fonttherd;
        color: rgb(97, 147, 74);
        &:hover {
          color: rgb(88, 60, 34);
        }
      }
    }
    &--btn {
      margin-bottom: 1rem;
      border: none;
      cursor: pointer;
      align-self: auto;
      text-decoration: none;
      color: white;
      background-color: rgb(97, 147, 74);
      font-family: $fonttherd;
      font-size: 1.2rem;
      padding: 10px 30px;
      transition: all 0.3s;
      position: relative;
      overflow: hidden;

      &:hover {
        background-color: rgb(144, 104, 67);
        color: rgb(88, 60, 34);
      }

      &::before {
        content: '';
        background-color: white;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        position: absolute;
        transform: translateX(-100%) rotate(45deg);
        transition: all 0.3s;
      }

      &:hover::before {
        transform: translateX(100%) rotate(45deg);
      }
    }
  }
}
